<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <script src="js/main.js" defer></script>

</head>

<body>
    <div class="wrapper">
        <section>
            <h1>This is the admin dashboard</h1>
            <% allUsersDetails.forEach(user => { %>
                <p>Name: <%=user.name%> | Lifetime Visits: <%=user.visits%> | Current Stamps: <%=user.stamps%></p>
            <%})%>
        </section>
    </div>


</body>

</html>